@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 45 45 45;
  --primary: 255 194 0;
  --primary-foreground: 45 45 45;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #2d2d2d;
}
